<!DOCTYPE html>
{% extends 'index.html' %}
<html>
<head>
	<title>{% block title %}Busqueda y selección{% endblock title %}</title>
</head>
<body>
{% block content %}
<div id="center">
    <div id="servicios">
        <h1>Búsqueda estratégica y selección de personal</h1>
        <p>
        <div style="text-align: center;"><br />
El principal objetivo del proceso de selecci&oacute;n es brindar soluciones a las empresas y oportunidades a los postulantes, generando y promoviendo v&iacute;nculos favorables y beneficiosos entre las partes<br />
<br />
<br />
Asumimos la totalidad del proceso de selecci&oacute;n o alguna de sus etapas, seg&uacute;n la necesidad de nuestros clientes<br />
<br />
<span style="color: rgb(122,29,27)"><br />
</span><strong><span style="color: rgb(122,29,27)">Desde la convicci&oacute;n de que cada incorporaci&oacute;n representa una decisi&oacute;n estrat&eacute;gica para las organizaciones, nos comprometemos fuertemente con los resultados de nuestra gesti&oacute;n brindando en todo momento el acompa&ntilde;amiento y la asesor&iacute;a necesaria para alcanzar resultados de calidad</span></strong></div>        </p>
    </div>
</div>


{% endblock content %}

</body>
</html>