<!DOCTYPE html>
{% extends 'index.html' %}
<html>
<head>
	<title>{% block title %}Consoltoria{% endblock title %}</title>
</head>
<body>
{% block content %}
<div id="center">
	<div id="servicios">
		<h1>Consultoría organizacional</h1>
        <p>
		<strong><br />
Brindamos asesoramiento especializado para el desarrollo e implementaci&oacute;n de herramientas de gesti&oacute;n<br />
</strong><br />
<strong><br />
</strong><strong>&Aacute;reas de intervenci&oacute;n:<br />
</strong><br type="_moz" />
<ul>
    <li>Estrategia organizacional</li>
    <li>An&aacute;lisis y definici&oacute;n de estructura, organigrama y posiciones</li>
    <li>Gesti&oacute;n de procesos e indicadores de medici&oacute;n</li>
    <li>Dise&ntilde;o y coordinaci&oacute;n de procesos de formaci&oacute;n</li>
    <li>Definici&oacute;n de escalas salariales y pol&iacute;ticas</li>
    <li>Diagn&oacute;stico y gesti&oacute;n de clima</li>
</ul>
<strong><br />
</strong><br />
<strong><br />
</strong><br />
<strong>&nbsp;</strong>		</p>
	</div>
</div>


{% endblock content %}

</body>
</html>