<!DOCTYPE html>
{% extends 'index.html' %}
<html>
<head>
	<title>{% block title %}Gestion Rrhh {% endblock title %}</title>
</head>
<body>
{% block content %}
<div id="center">
	<div id="servicios">
		<h1>Gestión de RRHH</h1>
        <p>
		<div style="text-align: center;"><strong>Desarrollo y puesta en marcha del rol de RRHH<br />
<br />
<br type="_moz" />
</strong></div>
<br />
<div style="text-align: center;">Trabajamos in company, desarrollando herramientas y asumiendo paulatinamente las funciones de un Responsable de RRHH: motorizando cambios, actuando como intermediarios entre el personal y los directores; acompa&ntilde;ando la gesti&oacute;n estrat&eacute;gica y administrativa del personal.</div>
<br />
<br />
<br type="_moz" />		</p>
	</div>
</div>

{% endblock content %}

</body>
</html>