<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}

<html>
<head>
	<title>{% block title %}Interveciones Psicolaborales{% endblock title %}</title>
</head>
<body>
{% block content %}
<div id="center">
	<div>
		<h1>Intervenciones Psicolaborales</h1>
        <p>
		<table border="0" cellspacing="0" cellpadding="0" width="850">
    <tbody>
        <tr>
            <td valign="top" width="280"><br />
            A partir del asesoramiento t&eacute;cnico especializado acompa&ntilde;amos a las organizaciones y a sus colaboradores en la toma de decisiones:</td>
            <td><img width="500" height="469" alt="" src="{%  static 'image/im1.png' %}"></td>
        </tr>
        <tr><img src=></tr>
    </tbody>

</table>
<br />		</p>
	</div>
</div>

{% endblock content %}

</body>
</html>